<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="6bf95f2a-cf01-443e-9905-6e9314082ebe"
            Publisher="CN=masuda"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="73fe283c-d2b9-49c2-ba49-bc53b6dc4589" PhonePublisherId="d5789b65-4d21-4b60-948f-f5b87ae8ded5"/>

  <Properties>
    <DisplayName>PazzleDrag.WinPhone</DisplayName>
    <PublisherDisplayName>masuda</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="x73fe283cyd2b9y49c2yba49ybc53b6dc4589x"
        Executable="AGHost.exe"
        EntryPoint="MainPage.xaml">
      <m3:VisualElements
          DisplayName="PazzleDrag.WinPhone"
          Square150x150Logo="Assets\SquareTile150x150.png"
          Square44x44Logo="Assets\Logo.png"
          Description="PazzleDrag.WinPhone"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png"/>
        <m3:SplashScreen Image="SplashScreenImage.jpg" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
          <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>